body {
  background-color: black;
}
img{
  border-radius: 10%
  }
ol{
  border-radius: 60%

}
}
p{
text-color : black}
body{
  border:solid;
  border-color: #1fafe0;
  border-width: 20px;
  border-top-width: 0px:
}
